.jumbotron.welcome-jumb
  .container
    .row
      .col-md-5.col-sm-12
        %h1
          Welcome
        %h1
          to the supporting docs for
          %span
            
        %h1
          the
          %span
            universe
        .description
          %p
            Think of Papermache as a fridge door for the internet or RTFM for nature itself.
          %p
            %span
              What's your thesis?.
      .col-md-7
        .container
          #owl-demo
            .container
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300px",
              :mozallowfullscreen => "",
              :src => "https://player.vimeo.com/video/59172838?color=ebd20c",
              :webkitallowfullscreen => "", :width => "100%"}

    %hr

:javascript
    $(document).ready(function () {
      var carousel = $(".owl-carousel");
    carousel.owlCarousel({
      pagination : true,
      items : 1,
      responsive : true,
      navigation: true,
      slideSpeed : 1500,
      navigationText: [
        "<span class='glyphicon glyphicon-menu-left'></span>",
        "<span class='glyphicon glyphicon-menu-right'></span>"
        ],
    });
  });