.jumbotron.footer
  .container
    .col-md-6
    .col-md-6
      .copyright
        Copyright Papermache, Inc 2020
      .icons
        =link_to('https://twitter.com/papermache_fyi', target: "blank") do
          %i.fa.fa-twitter.fa-2x
        =link_to('https://www.facebook.com/Papermachefyi', target: "blank") do
          %i.fa.fa-facebook.fa-2x
