.profile-reputation
  .row
    .col-lg-3.col-xs-6
      %p
        Uploads:
        =@account.uploaded_paper_cnt
      %p
        Received Votes:
        =@account.allpaper_received_votes
      %p
        Vote Cast:
        =@account.voted_papers_cnt

